
@page
{
    footer: html_footer_container;
}

td {
    vertical-align: top;
}

#qrcode {
    width: 120px;
    height: 120px;
    float: right;
    z-index: 100;
}
#header-logo {

}
#header-title {
    font-size: 12pt;
    font-weight: bolder;
    font-family: 'Arial Black';
    margin-left: 200px;
}
#title {
    font-size: 18pt;
    font-weight: bolder;
    font-family: 'Arial';
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
}
#certificate_number{
    font-weight: bold;
    font-family: 'Arial';
    text-align: center;
    margin-top: 0;
}
.detail-title {
    margin-top: 5px;
    font-weight: bold;
    text-decoration: underline;
}

#sign {
    text-align: center;
    margin-left: 1200px;
}
#disclaimer {
    font-size: 8pt;
    width: 70%;
}

.sample-text {
    color: gray;
}

#acc{
    background-image: url("<?=\yii\helpers\Url::to(['/image/acc-yohanis-90']);?>");
    background-repeat: no-repeat;
    background-position: center;
}

#footer{
    text-align: right;
    padding-right: 45px;
    background-image: url("<?=\yii\helpers\Url::to(['/image/bg-footer.png']);?>");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#footer-title{
    font-size: 10pt;
    line-height: 10pt;
}

.footer-detail{
    font-size: 7pt;
    line-height: 7pt;
}